.grid-container{
	display: grid;
	row-gap: 45px;
	grid-template-columns: auto auto auto;
	background-color: #f323d0;
	padding: 15px;
}
.grid-container{
	display: grid;
	column-gap: 45px;
	grid-template-columns: auto auto auto;
	background-color: #fde4ee;
	padding: 10px;
}
.grid-item{
	background-color: #cc03ae;
	border: 2px solid #000002cc;
	padding: 25px;
	font-size: 35px;
	text-align: center;
}

